#MainTabPane .tab{
	-fx-background-color: #E0E0E0,#F8F8F8;
	-fx-background-insets: 0 0 0 0, 1 1 1 1;
}
#MainTabPane .tab:selected{
	-fx-background-color: #E0E0E0,#FFFFFF;
	-fx-background-insets: 0 0 0 0, 1 1 0 1;
}
#MainTabPane .tab .focus-indicator{
	-fx-border-width:0;
}
#MainTabPane .tab-header-background{
	-fx-background-color: #E0E0E0 , #EEEEEE;
	-fx-background-insets: 0 0 1 0, 0 0 2 0;
	-fx-padding: 0.0em; /* 0 */
}
#OptionsTabPane .tab{
	-fx-background-color: #E0E0E0,#F8F8F8;
	-fx-background-insets: 0 0 0 0, 1 1 1 1;
}
#OptionsTabPane .tab:selected{
	-fx-background-color: #E0E0E0,#FFFFFF;
	-fx-background-insets: 0 0 0 0, 1 1 0 1;
}
#OptionsTabPane .tab .focus-indicator{
	-fx-border-width:0;
}
#OptionsTabPane .tab-header-background{
	-fx-background-color: #fafafa;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: #e0e0e0;
	-fx-padding: 0;
}
#AssessorView{
	-fx-background-color: #CCCCCC,#EEEEEE,#CCCCCC,#FFFFFF;
	-fx-background-insets: 0 0 0 0, 0 0 0 0.5, 0 0 0 1, 0 0 0 1.5;
	-fx-padding: 0 0 0 3;
}
#AssessorView .button{
	-fx-background-color: #FFF;
	-fx-border-color: #EEEEEE;
	-fx-border-width: 0 1 0 1;
	-fx-background-radius: 0;
	-fx-border-radius:0;
}
#AssessorView .button:hover{
	-fx-background-color: #E0E0E0, #FAFAFA;
	-fx-background-insets:0 0 0 0, 0 2 0 2;
}
#AssessorView .button .image-view{
	-fx-scale-x:0.7;
	-fx-scale-y:0.7;
}
#AssessorView .text-area{
	-fx-background-color: #EEEEEE, #FFFFFF;
	-fx-background-insets: 0 0 0 0, 1 0 0 0;
	-fx-background-radius:0;
	-fx-border-radius:0;
}
#AssessorView .hbox{
	-fx-padding: 5;
}
#AssessorView .text-area .focus-indicator{
	-fx-border-width:0;
}
.hButton {
  	-fx-background-color: #EEEEEE;
	-fx-alignment: center-left;
	-fx-padding:0 4 0 4;
}
.hButton:hover{
	-fx-background-color: #DDDDDD;
}
.hButton:focused{
	-fx-background-color: #FFFFFF;
}
.hIcon {
  	-fx-opacity:0.5;
}
.hGrapheme{
	-fx-font-weight: bold;
}

.scroll-pane{
	-fx-effect: null;
	-fx-background-color: transparent;
	-fx-background-insets: 0;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.scroll-bar, .scroll-bar .track{
	-fx-background-color: #DDDDDD;
	-fx-background-insets: 0 0 0 0;
}

.scroll-bar .thumb{
	-fx-effect: null;
	-fx-background-color: #333333;
	-fx-background-radius: 0;
	-fx-background-insets: 0 0 0 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button
, .scroll-bar .decrement-arrow,  .scroll-bar .increment-arrow{
	-fx-background-color: transparent;
	-fx-background-radius: 0;
	-fx-padding: 0 0 0 0;
}

.GSHeading{
	-fx-font-weight: bold;
	-fx-font-size: 1.3em;
	-fx-background-color: #FFFFFF;
	-fx-alignment: center-left;
}
.GSHeading:hover{
	-fx-font-weight: bold;
	-fx-font-size: 1.3em;
	-fx-background-color: #EEEEEE;
	-fx-alignment: center-left;
}

#currentHButton .button{
	-fx-font-weight: bolder;
}
.menu-bar{
	-fx-background-color: #fafafa;
	-fx-border-color: #eaeaea;
	-fx-border-width:1 1 2 1;
	-fx-padding: 1;
}
.menu-item .image-view{
	-fx-scale-x:0.7;
	-fx-scale-y:0.7;
}
.position-button > .radio {
	-fx-background-color: transparent;
	-fx-border-color: black;
	-fx-border-width: 2;
	-fx-padding: 10px;
	-fx-border-radius: 15%;
	-fx-background-radius: 15%;
}
.position-button:selected > .radio {
	-fx-padding: 4px;
}
.position-button:selected > .radio > .dot {
	-fx-background-radius: 15%;
	-fx-padding: 10px;
}
.position-border-button > .radio {
	-fx-background-color: aqua;
}

.position-center-button > .radio {
	-fx-background-color: greenyellow;
}

#TitleLabel{
	-fx-font-family: sans-serif;
	-fx-font-weight: bolder;
	-fx-font-size: 2em;
	-fx-font-style: italic;
	-fx-label-padding: 10;
	-fx-text-fill: #333333;
}
.choice-box{
	-fx-fit-to-width: true;
	-fx-fill-width: true;
    -fx-background-color: white;
    -fx-border-width: 0.3;
    -fx-border-color: black;
}
.combo-box{
	-fx-fit-to-width: true;
	-fx-fill-width: true;
	-fx-background-color: white;
	-fx-border-width: 0.3;
	-fx-border-color: black;
}
.bold{
	-fx-font-weight: bold;
}
.italic{
	-fx-font-style: italic;
}
.underlined *{
	-fx-underline: true;
}

#TopLabel{
	-fx-font-family: sans-serif;
	-fx-font-weight: bolder;
	-fx-font-size: 1.2em;
	-fx-label-padding: 10;
	-fx-text-fill: lightgrey;
	-fx-padding: 0;
}
.GPView{
	-fx-background-color: #CCCCCC,#EEEEEE,#CCCCCC,#FFFFFF;
	-fx-background-insets: 0 0 0 0, 0 0 0 0.5, 0 0 0 1, 0 0 0 1.5;
}
.properties-panel{
	-fx-background-color: #FFFFFF;
}
.connoisseur-table{
	-fx-background-color: transparent;
}
.warned-cbox .text-input{
	-fx-background-color: #ffffcc;
}
#AddButton{
	-fx-text-fill:#555555;
	-fx-background-color: #EEE;
	-fx-text-alignment:center;
	-fx-background-insets: 5;
	-fx-font-weight: bolder;
}
#AddButton:hover{
	-fx-text-fill:#040;
	-fx-background-color: #AEA;
}
.connoisseur-table-heading{
	-fx-border-color: #EAEAEA, #BBB;
	-fx-border-width: 1 1 2 1, 0 0 0.5 0;
	-fx-background-color: #FAFAFA;
	-fx-label-padding: 0 0 0 10;
	-fx-font-family: sans-serif;
	-fx-font-weight: bolder;
	-fx-text-fill: #444444;
}
.connoisseur-table-cell{
	-fx-border-color: #EAEAEA;
	-fx-border-width: 1;
	-fx-background-color: #FFFFFF;
}
.connoisseur-table-delete-button{
	-fx-text-fill:#999;
	-fx-background-color: #ffffff;
	-fx-text-alignment:center;
	-fx-background-insets: 5;
	-fx-font-weight: bolder;
}
.connoisseur-table-delete-button:hover{
	-fx-text-fill:#733;
	-fx-background-color: #ff5d5dAA;

}
.variable-header{
	-fx-font-weight: bold;
	-fx-text-fill: #bbb;
}
.assess-button{
    -fx-text-fill:#555555;
    -fx-background-color: #EEE;
    -fx-font-weight: bolder;
    -fx-text-alignment:center;
}
.titled-pane{
	-fx-background-radius: 5;
	-fx-background-color: #FFF, #ccc, #FFF;
	-fx-background-insets: 25 0 0 0, 26 1 1 1, 27 2 2 2;
	-fx-padding:10;
    -fx-vgap: 10;
    -fx-fill-width: true;

}
.assess-button:hover{
    -fx-text-fill:#040;
    -fx-background-color: #AEA;
}
.title{
	-fx-text-fill: #777;
	-fx-background-color: #FFF;
	-fx-background-insets: 0 7 0 7;
	-fx-font-weight: normal;

}
.check-box *.box{
	-fx-background-color: #bbb, #fff;
	-fx-background-insets: 0,1;
	-fx-background-radius: 3;
}
.content-separator{
    -fx-stroke: #cccccc;
}

#AssessorButtonBar{
	-fx-border-width: 0.5 0 0 0;

	-fx-border-color: lightgrey;
}

.simple-form-field > .color-picker{
    -fx-min-width: 200;
    -fx-background-color: white;
    -fx-border-width: 0.3;
    -fx-border-color: black;
}
.simple-form-field > .choice-box {
    -fx-min-width: 200;
    -fx-background-color: white;
    -fx-border-width: 0.3;
    -fx-border-color: black;
}